<div class="accordion mt-2" id="accordionDetallePedido">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetallePedido" aria-expanded="true" aria-controls="collapseDetallePedido">
                <h2>Orden de trabajo</h2>
            </button>
        </h2>
        <div id="collapseDetallePedido" class="accordion-collapse collapse show" data-bs-parent="#accordionDetallePedido">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabla_pedido" class="table table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Item</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Estado</th>
                                    <th>Tiempo En Ejecucion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="../OrdenTrabajo/_ordenTrabajo" />

<script type="text/javascript">
    const pedidos = [];
    var tablaPedido = null;;

    $(document).ready(function () {
        getPedidos();
        const columnas = obtenerColumnasTablaPedidos();

        tablaPedido = CrearTabla('tabla_pedido', columnas, pedidos);

        function obtenerColumnasTablaPedidos() {
            return [
                {
                    'data': 'id',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': false,
                    'defaultContent': ''
                },
                {
                    'data': 'fechaInicio',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': true,
                    'defaultContent': ''
                },   
                {
                    'data': 'fechaFin',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': true,
                    'defaultContent': ''
                },
                {
                    'data': 'precio',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': true,
                    'defaultContent': ''
                },
                {
                    'data': 'estado',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': true,
                    'defaultContent': ''
                },
                {
                    'searcheable': false,
                    'ordereable': false,
                    data: function (row, type, set) {
                        var s = '';
                        s += `<button id="ver_detalle${row.id}" class='btn btn-success' onclick='verDetalle(${row.id})'">Ver detalle</>`;
                        return s;
                    }
                }
            ]
        }
    });

    function getPedidos() {
        Ajax('GET', '/Pedido/GetAll', null, false, true, "Buscando...", getPedidosResponse);
    }

    function getPedidosResponse(obj) {
        return pedidos.push(...obj.innerObject);
    }
    
    function verDetalle(idPedido) { 
        ordenesTrabajo.length = 0;
        getOrdenTrabajo(idPedido);
    }
</script>