@{
    ViewData["Title"] = "Pedido";
}

<div class="accordion" id="accordionPedido">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePedido" aria-expanded="true" aria-controls="collapsePedido">
                <h2>Hace tu pedido</h2>
            </button>
        </h2>
        <div id="collapsePedido" class="accordion-collapse collapse show" data-bs-parent="#accordionPedido">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabla_pedido" class="table table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2" style="text-align: right;">
        <button class="btn btn-primary" type="button" onclick="guardarPedido()">Confirmar pedido</button>
        <a href="/Home" class="btn btn-primary">Volver</a>
    </div>
</div>

<script type="text/javascript">
    var tablaPedido = null;
    const items = [];

    $(document).ready(function () {
        getItems();
        const columnas = obtenerColumnasMateriaPrima();

        tablaPedido = CrearTabla('tabla_pedido', columnas, items);

        function obtenerColumnasMateriaPrima() {
            return [
                {
                    'data': 'id',
                    'searcheable': false,
                    'visible': false,
                    'ordereable': false,
                    'defaultContent': ''
                },
                {
                    'data': 'nombre',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': true,
                    'defaultContent': ''
                },
                {
                    'data': 'precio',
                    'searcheable': false,
                    'visible': true,
                    'ordereable': true,
                    'defaultContent': ''
                },
                {
                    'searcheable': false,
                    'ordereable': false,
                    data: function (row, type, set) {
                        var s = '';
                        s += `<input id="cantidad_${row.id}" class='form-control' type='number' value="${row.cantidad}"></>`;
                        return s;
                    }
                }
            ]
        }

        $('#tabla_pedido').on('keyup', 'input[id^="cantidad_"]', function () {
            // Obtener el ID único del campo de entrada
            const campoId = $(this).attr('id');

            // Obtener el valor modificado en el campo de entrada
            const nuevoValor = $(this).val();

            // Obtener la fila de DataTables
            const fila = tablaPedido.row($(this).closest('tr'));

            // Obtener los datos de la fila actual
            const datosFila = fila.data();

            // Actualizar la propiedad "cantidad" en los datos de la fila
            if (nuevoValor === "") datosFila.cantidad = 0;
            else datosFila.cantidad = parseInt(nuevoValor);
        });

    });

    function getItems() {
        Ajax('GET', '/Item/GetAll', null, false, true, "Buscando...", getItemsResponse);
    }

    function getItemsResponse(obj) {
        return items.push(...obj.innerObject);
    }

    function guardarPedido() {
        const data = {
            oViewModel:
            {
                Items: getDataPedido()
            }
        };

        Ajax('POST', '/Pedido/Guardar', data, false, true, "Espere...", savePedidoSuccess);
    }

    function savePedidoSuccess(response) {
        MsjAlertaExito('Aviso', 'Tu pedido se generó correctamente.');
    }
    

    function getDataPedido() {
        return tablaPedido.rows().data().toArray();
    }
</script>