@model PedidoViewModel;


<div class="accordion" id="accordionPedido">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePedido" aria-expanded="true" aria-controls="collapsePedido">
                <h2>Hace tu pedido</h2>
            </button>
        </h2>
        <div id="collapsePedido" class="accordion-collapse collapse show" data-bs-parent="#accordionPedido">
            <div class="accordion-body">
                <div class="row">
                    @{
                        foreach (var item in Model.Items)
                        {
                                    <div class="col-md-6 col-lg-4 p-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 id="nombre_@item.IdItem" class="card-title">@item.Nombre</h5>
                                                <hr />

                                                <p id="precio_@item.IdItem" data-precio="@item.Precio">precio unit: @item.Precio $</p>

                                                <input id="cantidad_@item.IdItem" type="number" class="form-control" value="1" />
                                                <button class="btn btn-primary mt-2" type="button" onclick="agregarAlPedido(@item.IdItem)">Lo quiero</button>
                                            </div>
                                        </div>
                                    </div>
                        }
                    }
                </div>
                <p id="txt_precio_total" data-precio="0">precio tatal: 0 $</p>

            </div>
        </div>
    </div>
    <div class="col-12 mt-2" style="text-align: right;">
        <button class="btn btn-primary" type="button" onclick="guardarPedido()">Confirmar pedido</button>
        <a href="/Home" class="btn btn-primary">Volver</a>
    </div>
</div>

<script type="text/javascript">
    const itemsPedido = [];

    $(document).ready(function () {

    });

    function agregarAlPedido(itemId) {
        actualizarItemsPedido(itemId);
        setPrecioTotal(getTotalPedido());
    }

    function actualizarItemsPedido(itemId) {
        const cantidad = parseInt($("#cantidad_" + itemId).val());
        const precioUnitario = parseFloat($(`#precio_${itemId}`).data("precio"));

        if (cantidad === 0) {
            const itemPedidoIndex = itemsPedido.findIndex(e => e.idItem == itemId);

            if (itemPedidoIndex !== -1) {
                itemsPedido.splice(itemPedidoIndex, 1);
            }
        } else {
            const itemPedido = itemsPedido.find(e => e.idItem == itemId);

            if (itemPedido === undefined) {
                itemsPedido.push({
                    idItem: itemId,
                    nombre: $(`#nombre_${itemId}`).text(),
                    cantidad: cantidad,
                    precio: precioUnitario,
                    total: precioUnitario * cantidad
                });
            } else {
                const precioTotal = precioUnitario * cantidad;
                itemPedido.cantidad = cantidad;
                itemPedido.total = precioTotal;
            }
        }
    }
   
    function guardarPedido() {
        const data = {
            oViewModel:
            {
                Items: itemsPedido
            }
        };

        Ajax('POST', '/Pedido/Guardar', data, false, true, "Espere...", savePedidoSuccess);
    }

    function savePedidoSuccess(response) {
        MsjAlertaExito('Aviso', 'Tu pedido se generó correctamente.');
        limpiarDataPedido();
    }

    function setPrecioTotal(precioTotal) {
        $("#txt_precio_total").data("precio", precioTotal.toFixed(2));
        $("#txt_precio_total").text(`precio total: ${precioTotal.toFixed(2)} $`);
    }

    function getTotalPedido() {
        const precioTotal = itemsPedido.reduce((total, item) => total + item.total, 0);
        return precioTotal;
    }

    function limpiarDataPedido() {
        setPrecioTotal(0);
    }
</script>