html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.toast-container {
    position: fixed;
    top: 0;
    end: 0;
    p-3;
    z-index: 9999; /* Valor alto para asegurar que esté por encima de otros elementos */
}